body {
    font: 12px Arial;
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.app {
	width: 250px;
}

.header {
	display: flex;
}
.header > input {
	flex: 1;
	margin-right: 4px;
}

.list > li {
	display: block;
	padding: 4px;
	margin-top: 2px;
	border: solid 1px gray;
	user-select: none;
	-webkit-user-select: none;
}
.list > li.checked {
	background: #ddd;
}